.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 90px;
        height: 60px;
        width: 60px;
        
    }   
    .option{
        display: flex;
        flex-basis: 27%;
        color:black;
        text-decoration: none;

    } 
}
